@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --green: #81e184;
  --black: #130f40;
  --light-collor: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2353e05b' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 4rem;
  color: var(--black);
}

.heading span {
  background: var(--black);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  border: #130f40;
  border-radius: 50px;
  clip-path: polygon(9% 0, 92% 0, 100% 50%, 93% 100%, 9% 100%, 0% 50%);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: #f1f1f1;
}

.btn:hover {
  background: var(--green);
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
}

.header img {
  width: 20rem;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--green);
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.header .navbar a:hover {
  font-size: 2rem;
  color: var(--green);
  transition: 0.2s;
}

.header .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-right: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons a:hover {
  background: var(--green);
  color: #fff;
}

#menu-btn {
  display: none;
}

.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 30rem;
  overflow-y: scroll;
  background: #fff;
}

.shopping-cart.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}

.header .shopping-cart .box img {
  height: 5rem;
  width: 6rem;
}

.header .shopping-cart .box .fa-trash {
  font-size: 1.5rem;
  position: initial;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--light-collor);
  transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
  color: var(--green);
}

.header .shopping-cart .box .content h3 {
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
  color: var(--light-collor);
  font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
  padding-left: 1rem;
}

.header .shopping-cart .total {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--black);
}

.header .shopping-cart .btn {
  display: block;
  text-align: center;
  margin: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url(../image/baner.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.home .content {
  padding: 0 10rem;
  padding-top: 7rem;
}

.home .content h3 {
  color: white;
  font-size: 3.4rem;
}

.home .content p {
  color: white;
  font-size: 20px;
}

.home .content a {
  border: none;
}

.features .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.features .box-container .box {
  padding: 3rem 2rem;
  background: #fff;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.features .box-container .box img {
  width: 30rem;
}

.features .box-container .box h3 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--black);
}

.features .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-collor);
  padding: 1rem;
}

.features .box-container .box img:hover {
  width: 31rem;
}

.features .box-container .box:hover {
  outline: var(--black);
  outline-width: 0rem;
  outline-offset: 0rem;
  cursor: pointer;
  color: var(--black);
  transition: 0.1s;
}

/* box lAIN */

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.box-container .box {
  padding: 3rem 2rem;
  background: #fff;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.box-container .box img {
  width: 30rem;
}

.box-container .box h3 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--black);
}

.box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-collor);
  padding: 1rem;
}

.box-container .box img:hover {
  width: 31rem;
}

.box-container .box:hover {
  outline: var(--black);
  outline-width: 0rem;
  outline-offset: 0rem;
  color: var(--black);
  transition: 0.1s;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product {
  width: calc(33.33% - 20px);
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.product h2,
p {
  color: #262626;
}
.product img {
  max-width: 100%;
  margin-bottom: 10px;
}
.product-info {
  flex: 1;
}
.product-title {
  font-weight: bold;
}
.product-price {
  color: #e74c3c;
}
.add-to-cart {
  margin-top: 10px;
  text-align: center;
}
.add-to-cart button {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.add-to-cart button:hover {
  background-color: #c0392b;
}

/* about us */

.about-us {
  margin-bottom: 5rem;
}

.container-vm {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: large;
  border: #130f40;
  margin-bottom: 5rem;
}

.container-nm {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: large;
}

.addtion {
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: large;
}

.about-us h1,
h2 {
  color: #333;
}

.visi-misi p {
  line-height: 1.6;
  color: #555;
}

.mission-list,
.values-list {
  list-style-type: none;
  padding-left: 0;
}

.mission-list li,
.values-list li {
  margin-bottom: 1rem;
  color: #666;
}

.values-list strong {
  color: #333;
}

/* end ded */

.footer {
  padding: 3rem 0;
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
}

.footer .row {
  justify-content: center;
}

.footer h3,
p {
  font-size: 1.1rem;
}

.footer h3 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #ecf0f1;
}

.footer p {
  margin-bottom: 0.5rem;
  color: #bdc3c7;
}

.footer .col-md-6:nth-child(1) {
  border-bottom: 1px solid #34495e;
  border-right: none;
}

.footer .col-md-6:nth-child(2) {
  text-align: center;
  margin-top: 1rem;
}

.footer .btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer .btn:hover {
  background-color: #c0392b;
}

@media (max-width: 991px) {
  #menu-btn {
    display: inline-block;
  }

  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: #fff;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .header .navbar img {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    width: 2rem;
    display: block;
  }

  .home {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .home .content h3 {
    font-size: 2.4rem;
  }

  .home .content p {
    font-size: 1.6rem;
  }

  .product {
    width: 50rem;
  }

  .footer .col-md-6:nth-child(2) {
    margin-top: 1rem;
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .content h3 {
    font-size: 2rem;
  }

  .home .content p {
    font-size: 1.4rem;
  }
}
