body {
  font-family: Arial, sans-serif;
}
.kwitansi {
  width: 550px;
  height: auto;
  border-style: solid;
  padding: 7px;
  padding-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  th,
  td {
    padding: 4px;
  }
}
