@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.icon-size {
  font-size: 40px;
  color: #20c997;
}

.card {
  height: 25rem;
  width: 15rem;
  margin: 0.5rem; /* Perubahan margin untuk simetri */
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body img {
  max-width: 100%;
  height: auto;
}

.btn-group {
  margin-top: 1rem; /* Margin untuk tombol di bawah */
}
